<div layout="column" class="main-panel">
  <md-whiteframe class="md-whiteframe-z1" layout="column">
    <md-toolbar class="recall-toolbar">
      <h2 class="md-toolbar-tools" layout-align="center center">
        <img src="images/location.svg" class="title-img"><span>選委會大風吹，投票所換哪邊</span>
      </h2>
    </md-toolbar>
    <md-content layout-padding>
      <div layout="column"  layout-padding>
        <div layout-padding>
          <p>讓監票員與南港內湖區民眾到自己投票所打卡，準備好板子上面寫「0214，我在＿＿區＿＿里＿＿鄰～＿＿鄰，會在＿＿＿＿＿＿投票所」，照片會放在查詢0214投票所的網站，在負責投票所外找三個民眾合照上傳，選擇下列打卡標題，設定公開全縣，民眾完成認證之後就送小禮物，監票員則送限量版徽章。</p>
        </div>
        <hr/>
        <div layout="row" layout-align="center center" layout-padding>
          <md-button class="md-raised md-warn md-button md-default-theme">
            <span class="ng-scope">打卡樣板下載</span>
          </md-button>
        </div>
        <hr/>
        <div layout="row" layout-align="center center" layout-padding>
          <ol>
            <li>全民監督，拒絕做票</li>
            <li>自己選票自己開，民主未來自己守</li>
            <li>守護票匭之限，正元怒長針眼</li>
            <li>監票仔細聽，止兀要當心</li>
            <li>如果喜歡他，投票守護他，如果討厭他，投票電電他<br/>如不認識他，請去辜狗他</li>
            <li>公民立志來罷掉，全民一起來監票</li>
          <ol>
        </div>
      </div>
    </md-content>
  </md-whiteframe>
</div>
