<div layout="column" class="main-panel">
  <md-whiteframe class="md-whiteframe-z1" layout="column">
    <div class="panel-header">
      <h2>
        投開票所查詢
      </h2>
    </div>
    <md-content layout-padding>
      <div layout="row" layout-margin>
        <div flex>
          <lx-select ng-model="selected.district" placeholder="區域" choices="districts" floating-label>
            <lx-select-selected>
                {{ $selected }}
            </lx-select-selected>

            <lx-select-choices>
                {{ $choice }}
            </lx-select-choices>
          </lx-select>
        </div>
        <div flex>
          <lx-text-field label="街道路名">
              <input type="text" ng-model="selected.street">
          </lx-text-field>
        </div>
        <div flex>
          <lx-select ng-model="selected.section" placeholder="段" choices="sections" floating-label>
            <lx-select-selected>
                {{ $selected }}
            </lx-select-selected>

            <lx-select-choices>
                {{ $choice }}
            </lx-select-choices>
          </lx-select>
        </div>
      </div>
      <div layout="row" layout-margin>
        <div flex>
          <lx-text-field label="巷">
              <input type="text" ng-model="selected.lane">
          </lx-text-field>
        </div>
        <div flex>
          <lx-text-field label="弄">
              <input type="text" ng-model="selected.alley">
          </lx-text-field>
        </div>
        <div flex>
          <lx-text-field label="號">
              <input type="text" ng-model="selected.number">
          </lx-text-field>
        </div>
      </div>
      <div layout="column" layout-padding ng-show="selected.station">
        <div flex>
          <i class="mdi mdi--mode-edit"></i> {{selected.station.name}}
        </div>
        <div flex>
          <i class="mdi mdi--home"></i> <a target="_blank" ng-href="http://maps.google.com/?q={{selected.station.address | encodeURIComponent}}">{{selected.station.address}}</a>
        </div>
      </div>
      <div layout layout-align="end center" layout-margin layout-padding>
          <button class="btn btn--m btn--blue btn--raised" lx-ripple ng-click="search()">Search</button>
        </div>
    </md-content>
  </md-whiteframe>
</div>
